<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pantalla 7 - Previsualización</title>
  <link href="../assets/styles/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/styles/area.css" rel="stylesheet"> <!-- estilos unificados -->
  <link href="../assets/styles/preview.css" rel="stylesheet">   <!-- estilos específicos -->
</head>
<body>

  <!-- Marca -->
  <header class="d-flex justify-content-end p-3">
    <span class="site-brand">Ai.kodigo.org</span>
  </header>

  <main class="preview-main text-center">

    <!-- Robot -->
    <div class="robot-space">
      <img src="../assets/gif/Robot base 4 prosesando info.gif" alt="Robot IA" class="robot-img">
    </div>

    <!-- Burbuja -->
    <div class="chat-container">
      <div class="chat-bubble">
        Este es el tipo de documento elegido.<br>
        Puedes revisarlo escaneando el QR.
      </div>
    </div>

    <!-- QR -->
    <div class="qr-container">
      <img src="https://res.cloudinary.com/dmddi5ncx/image/upload/v1759177070/samples/unlockIA/QR/curriculos_qzcpwv.png" alt="Código QR">
    </div>

    <!-- Texto guía -->
    <p class="instruction">
      Presiona <span class="highlight">Extraer</span> para continuar
    </p>

    <!-- Documento previsualizado -->
    <div class="doc-preview">
      <iframe src="https://res.cloudinary.com/dmddi5ncx/image/upload/v1759012835/samples/unlockIA/Curr%C3%ADculum_Vitae_Cv_de_Contabilidad_Minimalista_Azul_ycrjjl.pdf"
        frameborder="0"></iframe>
    </div>

    <!-- Botones -->
    <div class="buttons-group">
      <button class="btn btn-next" onclick="location.href='./08-extraccion.html'">
        Extraer <span class="arrow">→</span>
      </button>
      <button class="btn btn-back" onclick="location.href='./06-process.html'">
        ⟲ Regresar
      </button>
    </div>
  </main>

  <!-- Footer -->
  <footer class="agent-footer">
    <div class="footer-overlay">
      <img src="../assets/images/unlock-icon-black.png" alt="Unlock AI by Kodigo" class="footer-logo">
    </div>
  </footer>

  <script src="../assets/scripts/bootstrap.bundle.min.js"></script>
  <script>
    const docId = sessionStorage.getItem('selectedDocId');

    if(docId){
        document.addEventListener("DOMContentLoaded", () => {
        fetch('https://unlock-ai-app-7cvq.onrender.com/documento-seleccionado')
          .then(res => res.json())
          .then(data => {
            if (data.success && data.doc) {
              console.log('Documento seleccionado:', data);
              //agregando el QR dinámicamente
              document.querySelector('.qr-container img').src = data.doc.qr;
              //agregando el documento dinámicamente
              document.querySelector('iframe').src = data.doc.url;
            }
          });
      });
    }
  </script>
</body>
</html>
